In [1]:
import pandas as pd
names = pd.Series(["Martin Peterson", "John Fitzpatrick", "Kate Cruz"])
last_names = names.str.split().str[1]

In [2]:
last_names

0       Peterson
1    Fitzpatrick
2           Cruz
dtype: object

In [3]:
type(last_names)

pandas.core.series.Series

In [4]:
import pandas as pd
names = pd.Series(["Martin Peterson", "John Fitzpatrick", "Kate Cruz"])
last_names = names.str.split().str[1]
print(last_names.contains('s'))

AttributeError: 'Series' object has no attribute 'contains'

In [5]:
last_names

0       Peterson
1    Fitzpatrick
2           Cruz
dtype: object

In [6]:
last_names.str.contains('s')

0     True
1    False
2    False
dtype: bool

In [9]:
import pandas as pd;

series = pd.Series(['Martin Peterson','John Fitzpatrick','Kate Cruz']);

In [10]:
series

0     Martin Peterson
1    John Fitzpatrick
2           Kate Cruz
dtype: object

In [11]:
time_horizon = 1,2,3
print(time_horizon)

(1, 2, 3)

In [12]:
time_horizon[0]

1

In [13]:
pd.Series(time_horizon)

0    1
1    2
2    3
dtype: int64

In [14]:
print('Expected sales for a period of time {} month(s) for {}'.format(time_horizon,['Product A', 'Product B']))

Expected sales for a period of time (1, 2, 3) month(s) for ['Product A', 'Product B']

In [17]:
print('Expected sales for a period of time {timex} month(s) for {prodx} : ${sales}'.format(prodx='Product C', timex=12,sales=10000))

Expected sales for a period of time 12 month(s) for Product C : $10000