In [1]:
import numpy as np

In [2]:
np.set_printoptions(suppress=True, linewidth=100, precision=2)

In [38]:
#1. LOAD Data from Text
#skip header (first row)
#autostrip=True : to delete whitespaces

data = np.genfromtxt("D:\JakeProjects\DataScience\datascience\loan-data.csv",delimiter=";",encoding='utf-8',skip_header=1, autostrip=True)

In [43]:
#2. Check the data out.
#Use isnan(data) function to get all NAN data from the array "data" in this case.
# isnan returns all data in data set that are NAN
#if SUM of NAN items in collection > 0 it means there are NAN values in the array
np.isnan(data).sum()

#get the max value (ignore NAN)
temporary_fill = np.nanmax(data)+1
#temporary_mean = np.nanmean(data,axis=0)
#get mean value of all columns (ignore  NAN)
temporary_mean = np.nanmean(data,axis=0)

C:\Users\Jake\AppData\Local\Temp\ipykernel_9936\272392827.py:5: RuntimeWarning: Mean of empty slice
  temporary_mean = np.nanmean(data,axis=0)

In [44]:
#make an array containing :
#NANMIN of data from axis=0 means (column)
#NAN Mean of data from axis=0 means (column)
#NAN MAX of data from axis=0 means (column)
temporary_stats = np.array([np.nanmin(data,axis=0),temporary_mean,np.nanmax(data,axis=0)])

#This will give us 3 rows :
#Row #1 NANMIN
#Row #2 NANMEAN
#Row #3 NANMAX

C:\Users\Jake\AppData\Local\Temp\ipykernel_9936\3914177340.py:1: RuntimeWarning: All-NaN slice encountered
  temporary_stats = np.array([np.nanmin(data,axis=0),temporary_mean,np.nanmax(data,axis=0)])

In [45]:
temporary_stats

array([[  373332.  ,         nan,     1000.  ,         nan,     1000.  ,         nan,        6.  ,
              31.42,         nan,         nan,         nan,         nan,         nan,        0.  ],
       [54015809.19,         nan,    15273.46,         nan,    15311.04,         nan,       16.62,
             440.92,         nan,         nan,         nan,         nan,         nan,     3143.85],
       [68616519.  ,         nan,    35000.  ,         nan,    35000.  ,         nan,       28.99,
            1372.97,         nan,         nan,         nan,         nan,         nan,    41913.62]])

In [49]:
temporary_stats

array([[  373332.  ,         nan,     1000.  ,         nan,     1000.  ,         nan,        6.  ,
              31.42,         nan,         nan,         nan,         nan,         nan,        0.  ],
       [54015809.19,         nan,    15273.46,         nan,    15311.04,         nan,       16.62,
             440.92,         nan,         nan,         nan,         nan,         nan,     3143.85],
       [68616519.  ,         nan,    35000.  ,         nan,    35000.  ,         nan,       28.99,
            1372.97,         nan,         nan,         nan,         nan,         nan,    41913.62]])

In [107]:
#Extracts the indeces of NAN means
#As the result of arg where is a 2D array with the other Dimension being null
#Use the squeeze function to reduce it to a single one
#AT THIS POINT :
#temporary_mean will have the mean for all columns
#those columns that are texts will be NAN, there fore this will return all indeces of columns columns
#that are text as argwhere condition is looking for 
#temporary_mean that is NAN

columns_strings = np.argwhere(np.isnan(temporary_mean)).squeeze()

#AT THIS POINT :
#temporary_mean will have the mean for all columns
#those columns that are texts will be NAN, there fore this will return all indeces of columns that are not NAN

columns_numeric = np.argwhere(np.isnan(temporary_mean)==False).squeeze()
#extract indeces of numeric data
columns_numeric
#AT the end of this snippet we have columns_numeric = Shows all indeces of columns that has numeric content
#And we have columns_string which shows all columns that has string content

array([ 0,  2,  4,  6,  7, 13], dtype=int64)

In [143]:
#SPLITTING DATA - STRING values extract
#this will load all data from text but only for columns that are string
# this is controled by usecols argument on np.genfromtxt.
#usecols=columns_strings tells us to load only string columns from the data file
#columns_strings were derived in previous code
loan_data_strings = np.genfromtxt("D:\JakeProjects\DataScience\datascience\loan-data.csv",delimiter = ";",skip_header=1,autostrip=True,
                                  usecols=columns_strings,
                                  dtype=str,
                                 encoding="utf-8")

In [144]:
loan_data_strings

array([['May-15', 'Current', '36 months', ..., 'Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=48010226', 'CA'],
       ['', 'Current', '36 months', ..., 'Source Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=57693261', 'NY'],
       ['Sep-15', 'Current', '36 months', ..., 'Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=59432726', 'PA'],
       ...,
       ['Jun-15', 'Current', '36 months', ..., 'Source Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=50415990', 'CA'],
       ['Apr-15', 'Current', '36 months', ..., 'Source Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=46154151', 'OH'],
       ['Dec-15', 'Current', '36 months', ..., '',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=66055249', 'IL']],
      dtype='<U69')

In [65]:
#SPLITTING DATA - NUMERIC values extraction 
#this will load all data from text but only for columns that are numeric
# this is controled by usecols argument on np.genfromtxt.
#usecols=columns_numeric tells us to load only string columns from the data file
#columns_numeric were derived in previous code
loan_data_numeric = np.genfromtxt("D:\JakeProjects\DataScience\datascience\loan-data.csv",delimiter = ";",skip_header=1,autostrip=True,
                                  usecols=columns_numeric,
                                 encoding="utf-8")

In [66]:
loan_data_numeric

array([[48010226.  ,    35000.  ,    35000.  ,       13.33,     1184.86,     9452.96],
       [57693261.  ,    30000.  ,    30000.  ,         nan,      938.57,     4679.7 ],
       [59432726.  ,    15000.  ,    15000.  ,         nan,      494.86,     1969.83],
       ...,
       [50415990.  ,    10000.  ,    10000.  ,         nan,         nan,     2185.64],
       [46154151.  ,         nan,    10000.  ,       16.55,      354.3 ,     3199.4 ],
       [66055249.  ,    10000.  ,    10000.  ,         nan,      309.97,      301.9 ]])

In [109]:
#SPLITTING DATA - Getting header
#header_full will load file skipping all of the rows except for first row The header
#this is done ia skip_footer = data.shape[0]
#data.shape[0] reflects row count, since data was loaded without headers, the data.shape[0] should cover
#all the contents of the array minus the header
# in the  end this will only return headers

header_full = np.genfromtxt("D:\JakeProjects\DataScience\datascience\loan-data.csv",delimiter = ";",autostrip=True,
                                  skip_footer = data.shape[0],
                                 encoding="utf-8",dtype=str)
#SPLITTING DATA - Getting header for strings
#header_full will load file skipping all of the rows except for first row The header
#this is done ia skip_footer = data.shape[0]
#data.shape[0] reflects row count, since data was loaded without headers, the data.shape[0] should cover
#all the contents of the array minus the header
# in the  end this will only return headers where columns are string columns only (as per the usecols argument)

header_string = np.genfromtxt("D:\JakeProjects\DataScience\datascience\loan-data.csv",delimiter = ";",autostrip=True,
                                  skip_footer = data.shape[0],
                                 usecols=columns_strings,
                                 encoding="utf-8",dtype=str)

In [77]:
header_full

array(['id', 'issue_d', 'loan_amnt', 'loan_status', 'funded_amnt', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'verification_status', 'url', 'addr_state',
       'total_pymnt'], dtype='<U19')

In [110]:
header_string

array(['issue_d', 'loan_status', 'term', 'grade', 'sub_grade', 'verification_status', 'url',
       'addr_state'], dtype='<U19')

In [79]:
loan_data_numeric

array([[48010226.  ,    35000.  ,    35000.  ,       13.33,     1184.86,     9452.96],
       [57693261.  ,    30000.  ,    30000.  ,         nan,      938.57,     4679.7 ],
       [59432726.  ,    15000.  ,    15000.  ,         nan,      494.86,     1969.83],
       ...,
       [50415990.  ,    10000.  ,    10000.  ,         nan,         nan,     2185.64],
       [46154151.  ,         nan,    10000.  ,       16.55,      354.3 ,     3199.4 ],
       [66055249.  ,    10000.  ,    10000.  ,         nan,      309.97,      301.9 ]])

In [87]:
#creating checkpoints
def checkpoint(file_name,checkpoint_header, checkpoint_data):
    np.savez(file_name,header=checkpoint_header,data=checkpoint_data)
    checkpoint_variable = np.load(file_name + ".npz")
    return(checkpoint_variable)

In [124]:
checkpoint_test = checkpoint("checkpoint-test",header_string,loan_data_strings)

In [125]:
checkpoint_test['data']

array([['May-15', 'Current', '36 months', ..., 'Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=48010226', 'CA'],
       ['', 'Current', '36 months', ..., 'Source Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=57693261', 'NY'],
       ['Sep-15', 'Current', '36 months', ..., 'Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=59432726', 'PA'],
       ...,
       ['Jun-15', 'Current', '36 months', ..., 'Source Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=50415990', 'CA'],
       ['Apr-15', 'Current', '36 months', ..., 'Source Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=46154151', 'OH'],
       ['Dec-15', 'Current', '36 months', ..., '',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=66055249', 'IL']],
      dtype='<U69')

In [95]:
np.array_equal(loan_data_numeric,checkpoint_test['data'])

False

In [115]:
checkpoint_test['data'].shape

(10000, 8)

In [119]:
loan_data_strings.shape

(10000, 8)

In [128]:
header_string

array(['issue_d', 'loan_status', 'term', 'grade', 'sub_grade', 'verification_status', 'url',
       'addr_state'], dtype='<U19')

In [145]:
loan_data_strings

array([['May-15', 'Current', '36 months', ..., 'Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=48010226', 'CA'],
       ['', 'Current', '36 months', ..., 'Source Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=57693261', 'NY'],
       ['Sep-15', 'Current', '36 months', ..., 'Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=59432726', 'PA'],
       ...,
       ['Jun-15', 'Current', '36 months', ..., 'Source Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=50415990', 'CA'],
       ['Apr-15', 'Current', '36 months', ..., 'Source Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=46154151', 'OH'],
       ['Dec-15', 'Current', '36 months', ..., '',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=66055249', 'IL']],
      dtype='<U69')

In [131]:
#Replace header value
#Simply override the header_string[index of what you want to replace]
#in this case, issue_d is being renamed as issue_sate
header_string[0] = "issue_date"

In [132]:
header_string

array(['issue_date', 'loan_status', 'term', 'grade', 'sub_grade', 'verification_status', 'url',
       'addr_state'], dtype='<U19')

In [146]:
#Clean up : REmove all -15 or Year information from the array loan_data string
#As column 0 is issue_date, -15 or year info from here needs to be removed
#To do this, np.chararray.strip is used. It returns the array data after the strip is done
loan_data_strings[:,0] = np.chararray.strip(loan_data_strings[:,0],"-15")
#strip -15 from MON-15 for all rows first column

In [147]:
loan_data_strings

array([['May', 'Current', '36 months', ..., 'Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=48010226', 'CA'],
       ['', 'Current', '36 months', ..., 'Source Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=57693261', 'NY'],
       ['Sep', 'Current', '36 months', ..., 'Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=59432726', 'PA'],
       ...,
       ['Jun', 'Current', '36 months', ..., 'Source Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=50415990', 'CA'],
       ['Apr', 'Current', '36 months', ..., 'Source Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=46154151', 'OH'],
       ['Dec', 'Current', '36 months', ..., '',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=66055249', 'IL']],
      dtype='<U69')

In [150]:
#replacing all Months data to numeric
month_arr = np.array(['','Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'])

In [160]:
#Change months into numbers
#np.where will return the data meeting the condition
#first pararm of NPwhere is the condition
#second part is what will be returned if condition is met
#third part is what will be returned if condition is not met
#in this case, the last param indicates that it will return as-is value if condition is not met

for i in range(13):
    loan_data_strings[:,0] = np.where(loan_data_strings[:,0]==month_arr[i],i,loan_data_strings[:,0])

In [162]:
loan_data_strings

array([['5', 'Current', '36 months', ..., 'Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=48010226', 'CA'],
       ['0', 'Current', '36 months', ..., 'Source Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=57693261', 'NY'],
       ['9', 'Current', '36 months', ..., 'Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=59432726', 'PA'],
       ...,
       ['6', 'Current', '36 months', ..., 'Source Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=50415990', 'CA'],
       ['4', 'Current', '36 months', ..., 'Source Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=46154151', 'OH'],
       ['12', 'Current', '36 months', ..., '',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=66055249', 'IL']],
      dtype='<U69')

In [163]:
np.unique(loan_data_strings[:,0])

array(['0', '1', '10', '11', '12', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='<U69')

In [165]:
#LOAN STATUS
#Change the status to either 0 = BAD, 1=GOOD

np.unique(loan_data_strings[:,1])

array(['', 'Charged Off', 'Current', 'Default', 'Fully Paid', 'In Grace Period', 'Issued',
       'Late (16-30 days)', 'Late (31-120 days)'], dtype='<U69')

In [167]:
np.unique(loan_data_strings[:,1]).size

9

In [168]:
#Create an array of status that is considered BAD
status_bad = np.array(['','Charged Off','Default','Late (31-120 days)'])

In [169]:
status_bad

array(['', 'Charged Off', 'Default', 'Late (31-120 days)'], dtype='<U18')

In [173]:
loan_data_strings[:,1]

array(['1', '1', '1', ..., '1', '1', '1'], dtype='<U69')

In [172]:
#Replace all status that are considered BAD as 0, 1 as good
#use np.isin(data, status_bad)
#first param takes in base data, second param is the data sets to lookup

loan_data_strings[:,1] = np.where(np.isin(loan_data_strings[:,1],status_bad),0,1)

In [174]:
np.unique(loan_data_strings[:,1])

array(['0', '1'], dtype='<U69')

In [175]:
#TERM
np.unique(loan_data_strings[:,2])

array(['', '36 months', '60 months'], dtype='<U69')

In [177]:
header_string

array(['issue_date', 'loan_status', 'term', 'grade', 'sub_grade', 'verification_status', 'url',
       'addr_state'], dtype='<U19')

In [180]:
header_string[2] = 'Term Months'

In [181]:
header_string

array(['issue_date', 'loan_status', 'Term Months', 'grade', 'sub_grade', 'verification_status',
       'url', 'addr_state'], dtype='<U19')

In [182]:
np.unique(loan_data_strings[:,2])

array(['', '36 months', '60 months'], dtype='<U69')

In [183]:
#remove "Months"
loan_data_strings[:,2] = np.chararray.strip(loan_data_strings[:,2]," months")

In [186]:
np.unique(loan_data_strings[:,2])

array(['', '36', '60'], dtype='<U69')

In [187]:
loan_data_strings[:,2] = np.where(loan_data_strings[:,2]=='','60',loan_data_strings[:,2])

In [189]:
np.unique(loan_data_strings[:,2])

array(['36', '60'], dtype='<U69')

In [198]:
#Because the first element in the unique value of grade is '', the np.unique result is indexed with [1:] 
#this is to indicate that data we'll use data from row 1 on woards
for i in np.unique(loan_data_strings[:,3])[1:]:
    loan_data_strings[:,4]  = np.where((loan_data_strings[:,4]=='') & (loan_data_strings[:,3] == i),i+'5',loan_data_strings[:,4])

In [205]:
np.unique(loan_data_strings[:,4],return_counts=True)
#after this , we can see that there are still null sub grades
#This means that there are values where subgrade and grade is not there

(array(['', 'A1', 'A2', 'A3', 'A4', 'A5', 'B1', 'B2', 'B3', 'B4', 'B5', 'C1', 'C2', 'C3', 'C4',
        'C5', 'D1', 'D2', 'D3', 'D4', 'D5', 'E1', 'E2', 'E3', 'E4', 'E5', 'F1', 'F2', 'F3', 'F4',
        'F5', 'G1', 'G2', 'G3', 'G4', 'G5'], dtype='<U69'),
 array([  9, 285, 278, 239, 323, 592, 509, 517, 530, 553, 633, 629, 567, 586, 564, 577, 391, 267,
        250, 255, 288, 235, 162, 171, 139, 160,  94,  52,  34,  43,  24,  19,  10,   3,   7,   5],
       dtype=int64))

In [206]:
#Assign H1, on those that are blank subgrades
for i in np.unique(loan_data_strings[:,3])[1:]:
    loan_data_strings[:,4]  = np.where(loan_data_strings[:,4]=='','H1',loan_data_strings[:,4])

In [207]:
np.unique(loan_data_strings[:,4],return_counts=True)

(array(['A1', 'A2', 'A3', 'A4', 'A5', 'B1', 'B2', 'B3', 'B4', 'B5', 'C1', 'C2', 'C3', 'C4', 'C5',
        'D1', 'D2', 'D3', 'D4', 'D5', 'E1', 'E2', 'E3', 'E4', 'E5', 'F1', 'F2', 'F3', 'F4', 'F5',
        'G1', 'G2', 'G3', 'G4', 'G5', 'H1'], dtype='<U69'),
 array([285, 278, 239, 323, 592, 509, 517, 530, 553, 633, 629, 567, 586, 564, 577, 391, 267, 250,
        255, 288, 235, 162, 171, 139, 160,  94,  52,  34,  43,  24,  19,  10,   3,   7,   5,   9],
       dtype=int64))

In [210]:
np.unique(loan_data_strings[:,3],return_counts=True)

(array(['A1', 'A2', 'A3', 'A4', 'A5', 'B1', 'B2', 'B3', 'B4', 'B5', 'C1', 'C2', 'C3', 'C4', 'C5',
        'D1', 'D2', 'D3', 'D4', 'D5', 'E1', 'E2', 'E3', 'E4', 'E5', 'F1', 'F2', 'F3', 'F4', 'F5',
        'G1', 'G2', 'G3', 'G4', 'G5', 'H1'], dtype='<U69'),
 array([285, 278, 239, 323, 592, 509, 517, 530, 553, 633, 629, 567, 586, 564, 577, 391, 267, 250,
        255, 288, 235, 162, 171, 139, 160,  94,  52,  34,  43,  24,  19,  10,   3,   7,   5,   9],
       dtype=int64))

In [209]:
#As we already hvae subgrade, we no longer need GRADE
#Delete the column for GRADE (column 3)
loan_data_strings = np.delete(loan_data_strings,3,axis=1)

In [212]:
np.unique(loan_data_strings[:,3])

array(['A1', 'A2', 'A3', 'A4', 'A5', 'B1', 'B2', 'B3', 'B4', 'B5', 'C1', 'C2', 'C3', 'C4', 'C5',
       'D1', 'D2', 'D3', 'D4', 'D5', 'E1', 'E2', 'E3', 'E4', 'E5', 'F1', 'F2', 'F3', 'F4', 'F5',
       'G1', 'G2', 'G3', 'G4', 'G5', 'H1'], dtype='<U69')

In [215]:
#As we have already removed, column 3 from data, we need to do the same for the header array
header_string = np.delete(header_string,3)

In [216]:
header_string

array(['issue_date', 'loan_status', 'Term Months', 'sub_grade', 'verification_status', 'url',
       'addr_state'], dtype='<U19')

In [217]:
np.unique(loan_data_strings[:,3])

array(['A1', 'A2', 'A3', 'A4', 'A5', 'B1', 'B2', 'B3', 'B4', 'B5', 'C1', 'C2', 'C3', 'C4', 'C5',
       'D1', 'D2', 'D3', 'D4', 'D5', 'E1', 'E2', 'E3', 'E4', 'E5', 'F1', 'F2', 'F3', 'F4', 'F5',
       'G1', 'G2', 'G3', 'G4', 'G5', 'H1'], dtype='<U69')

In [219]:
#Create a dictionary of Grades
key = list(np.unique(loan_data_strings[:,3]))
values = list(range(1,np.unique(loan_data_strings[:,3]).shape[0]+1))
dict_sub_grade = dict(zip(key,values))

In [220]:
dict_sub_grade

{'A1': 1,
 'A2': 2,
 'A3': 3,
 'A4': 4,
 'A5': 5,
 'B1': 6,
 'B2': 7,
 'B3': 8,
 'B4': 9,
 'B5': 10,
 'C1': 11,
 'C2': 12,
 'C3': 13,
 'C4': 14,
 'C5': 15,
 'D1': 16,
 'D2': 17,
 'D3': 18,
 'D4': 19,
 'D5': 20,
 'E1': 21,
 'E2': 22,
 'E3': 23,
 'E4': 24,
 'E5': 25,
 'F1': 26,
 'F2': 27,
 'F3': 28,
 'F4': 29,
 'F5': 30,
 'G1': 31,
 'G2': 32,
 'G3': 33,
 'G4': 34,
 'G5': 35,
 'H1': 36}

In [221]:
np.unique(loan_data_strings[:,3])

array(['A1', 'A2', 'A3', 'A4', 'A5', 'B1', 'B2', 'B3', 'B4', 'B5', 'C1', 'C2', 'C3', 'C4', 'C5',
       'D1', 'D2', 'D3', 'D4', 'D5', 'E1', 'E2', 'E3', 'E4', 'E5', 'F1', 'F2', 'F3', 'F4', 'F5',
       'G1', 'G2', 'G3', 'G4', 'G5', 'H1'], dtype='<U69')

In [223]:
#Replace sub grades with matching dictionary value
#this will convert our grades A1,A2, etc to Numerical Rating
for i in np.unique(loan_data_strings[:,3]):
    loan_data_strings[:,3] = np.where(loan_data_strings[:,3]==i,
                                     dict_sub_grade[i],loan_data_strings[:,3])

In [226]:
np.unique(loan_data_strings[:,3],return_counts=True)

(array(['1', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '2', '20', '21', '22',
        '23', '24', '25', '26', '27', '28', '29', '3', '30', '31', '32', '33', '34', '35', '36',
        '4', '5', '6', '7', '8', '9'], dtype='<U69'),
 array([285, 633, 629, 567, 586, 564, 577, 391, 267, 250, 255, 278, 288, 235, 162, 171, 139, 160,
         94,  52,  34,  43, 239,  24,  19,  10,   3,   7,   5,   9, 323, 592, 509, 517, 530, 553],
       dtype=int64))

In [228]:
#Verification Status column
header_string

array(['issue_date', 'loan_status', 'Term Months', 'sub_grade', 'verification_status', 'url',
       'addr_state'], dtype='<U19')

In [229]:
np.unique(loan_data_strings[:,4])

array(['', 'Not Verified', 'Source Verified', 'Verified'], dtype='<U69')

In [230]:
#Change all verification status where value is '' or Not verfied to 0
#Change all that are verified to 1
loan_data_strings[:,4] = np.where((loan_data_strings[:,4] == '') | (loan_data_strings[:,4] =='Not Verified'),0,1)

In [231]:
np.unique(loan_data_strings[:,4])

array(['0', '1'], dtype='<U69')

In [234]:
loan_data_strings[:,5]

array(['https://www.lendingclub.com/browse/loanDetail.action?loan_id=48010226',
       'https://www.lendingclub.com/browse/loanDetail.action?loan_id=57693261',
       'https://www.lendingclub.com/browse/loanDetail.action?loan_id=59432726', ...,
       'https://www.lendingclub.com/browse/loanDetail.action?loan_id=50415990',
       'https://www.lendingclub.com/browse/loanDetail.action?loan_id=46154151',
       'https://www.lendingclub.com/browse/loanDetail.action?loan_id=66055249'], dtype='<U69')

In [235]:
header_full

array(['id', 'issue_d', 'loan_amnt', 'loan_status', 'funded_amnt', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'verification_status', 'url', 'addr_state',
       'total_pymnt'], dtype='<U19')

In [239]:
loan_data_numeric[:,0].astype(dtype=np.int32)

array([48010226, 57693261, 59432726, ..., 50415990, 46154151, 66055249])

In [245]:
loan_data_strings[:,5] = np.chararray.strip(loan_data_strings[:,5],"https://www.lendingclub.com/browse/loanDetail.action?loan_id=")

In [249]:
np.array_equal(loan_data_strings[:,5].astype(dtype=np.int32),loan_data_numeric[:,0].astype(dtype=np.int32))

True

In [250]:
loan_data_strings = np.delete(loan_data_strings,5,axis=1)
header_string = np.delete(header_string,5)

In [251]:
header_string

array(['issue_date', 'loan_status', 'Term Months', 'sub_grade', 'verification_status',
       'addr_state'], dtype='<U19')

In [254]:
header_numeric = np.genfromtxt("D:\JakeProjects\DataScience\datascience\loan-data.csv",delimiter = ";",autostrip=True,
                                  skip_footer = data.shape[0],
                                 usecols=columns_numeric,
                                 encoding="utf-8",dtype=str)

In [255]:
header_numeric

array(['id', 'loan_amnt', 'funded_amnt', 'int_rate', 'installment', 'total_pymnt'], dtype='<U11')

In [257]:
np.unique(loan_data_strings[:,5])
header_string[5] = "state_address"

In [259]:
#Assign state name and state count individual as returned by NP.UNIQUE
state_names,states_count = np.unique(loan_data_strings[:,5],return_counts=True)

In [260]:
#Sort states_count descendingly to sort the array of numbers that is the states_count
#assign the sorted states_count data to state_count_sorted

state_count_sorted = np.argsort(-states_count)

In [266]:
#print state_names in order of state_count_sorted
#this will reflect the state with most number
state_names[state_count_sorted],states_count[state_count_sorted]

(array(['CA', 'NY', 'TX', 'FL', '', 'IL', 'NJ', 'GA', 'PA', 'OH', 'MI', 'NC', 'VA', 'MD', 'AZ',
        'WA', 'MA', 'CO', 'MO', 'MN', 'IN', 'WI', 'CT', 'TN', 'NV', 'AL', 'LA', 'OR', 'SC', 'KY',
        'KS', 'OK', 'UT', 'AR', 'MS', 'NH', 'NM', 'WV', 'HI', 'RI', 'MT', 'DE', 'DC', 'WY', 'AK',
        'NE', 'SD', 'VT', 'ND', 'ME'], dtype='<U69'),
 array([1336,  777,  758,  690,  500,  389,  341,  321,  320,  312,  267,  261,  242,  222,  220,
         216,  210,  201,  160,  156,  152,  148,  143,  143,  130,  119,  116,  108,  107,   84,
          84,   83,   74,   74,   61,   58,   57,   49,   44,   40,   28,   27,   27,   27,   26,
          25,   24,   17,   16,   10], dtype=int64))

In [272]:
np.unique(loan_data_strings[:,5])

array(['0', 'AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 'IL', 'IN',
       'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH',
       'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA',
       'VT', 'WA', 'WI', 'WV', 'WY'], dtype='<U69')

In [271]:
#Assign 0 to those blank state address
loan_data_strings[:,5] = np.where(loan_data_strings[:,5] =='',0,loan_data_strings[:,5])

In [273]:
#segregate by geo location
states_west = np.array(['WA','OR','CA','NV','ID','MT','WY','UT','CO','AZ','NM','HI','AK'])
states_south = np.array(['TX','OK','AR','LA','MS','AL','TN','KY','FL','GA','SC','NC','VA','WV','MD','DE','DC'])
states_midwest = np.array(['ND','SD','NE','KS','MN','IA','MO','WI','IL','IN','MI','OH'])
states_east = np.array(['PA','NY','NJ','CT','MA','VT','NH','ME','RI'])